In [ ]:
select  * from icc_world_cup

In [ ]:
-- Complex SQL Query 1 | Derive Points table for ICC tournament

select
    team_name, count(1) as no_of_matches_play,
    sum(win_flag) as no_of_matches_won,
    count(1) - sum(win_flag) as no_of_matches_loss
FROM
(
    select
        team_1 as team_name, case when team_1 = winner then 1 else 0 end as win_flag
    from icc_world_cup
    UNION ALL
    select
        team_2 as team_name, case when team_2 = winner then 1 else 0 end as win_flag
    from icc_world_cup
) t
group by team_name
order by no_of_matches_won desc;


WITH icc_match_info as
(
    select team_1 as team_name, winner from icc_world_cup
    union all
    select team_2 as team_name, winner from icc_world_cup
)

select 
    team_name,
    count(*) as total_matches_played,
    sum(case when team_name = winner then 1 else 0 end) as no_of_wins,
    sum(case when team_name != winner then 1 else 0 end) as no_of_loss
from icc_match_info
group by team_name
order by no_of_wins desc, team_name